body {
  background: #59381B;
  color: #E3B771;
  font-family: /* 'Nunito', 'Open Sans', 'Helvetica', */ sans-serif;
  font-size: 2.0em;
  overflow-wrap: break-word;
}

a:link {
  color: #61C456;
  text-decoration: underline;
  border-style: none;
  border-radius: 0.25em;
}

a:link[aria-current="page"] {
  background: #E3B771;
  color: #59381B;
  text-decoration: underline overline transparent;
}

a:link:hover,
a:link:focus,
a:visited:hover,
a:visited:focus {
  background: #61C456;
  color: #59381B;
  text-decoration: none;
  box-shadow: 0 0 0 0.0625rem #59381B,
              0 0 0 0.1875rem #61C456;
  outline: 0.1250em solid transparent;
  outline-offset: 0.0625em;
}

a:link:active {
  box-shadow: 0 0 0 0.0625rem #59381B,
              0 0 0 0.3125rem #61C456;
}

a:visited {
  color: #E0E0E0;
}

a:link.skip-link {
  position: absolute;
  left: -9999px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

a:link.skip-link:focus {
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  width: auto;
  height: auto;
}

a[aria-disabled="true"] {
  text-decoration: line-through;
}

header {
  text-align: center;
  max-width: 30em;
  margin: 0.5em auto;
  padding: 0.5em 0;
  margin-bottom: 1em;
}

p,
li {
  line-height: 1.5;
}

main,
footer {
  text-align: left;
  max-width: 30em;
  margin: 0.5em auto;
  outline: 0;
}

h1 {
  border-bottom: 2px solid currentColor;
}

footer {
  margin-top: 4rem;
  border-top: 2px solid currentColor;
}

.byline {
  font-size: larger;
  font-weight: bolder;
}

#slide-nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 1rem 0;
  padding: 0;
}

#slide-nav ul li {
  display: inline-block;
}

nav ul li a {
  margin: 0.5rem 1rem;
  padding: 0 0.5em;
}
